<!-- The blog template, shown when the user visits the blog -->

<!-- Loop through the posts in the blog -->
{{# each page_obj.object_list }}
  <!-- Not all blog posts need a title. Only show this section if a title is set -->
  {{# exists title }}
    <h2>
      <!--
      Link to the blog post. If the post is a link post, open the link in
      a new window (that's what the {{ target }} bit is about, and it's fine
      that there's no space between the " and {{ target }}.)
      -->
      <a href="{{ link_url }}"{{{ target }}}>{{ title }}</a><br>
    </h2>
  {{/ exists }}

  <!-- If the blog post contains an image, show it here -->
  {{# exists image }}
    <img src="{{ image }}" style="max-width: 100%;" />
  {{/ exists }}

  <!-- Some blog posts have embeddable content, like polls or videos. Show that here -->
  {{# exists embed }}{{{ embed }}}{{/ exists }}

  <!-- Show an excerpt of the post, if there is any text -->
  {{# exists summary }}{{{ summary }}}{{/ exists }}

  <!-- Show the words "Read more", linking go the post -->
  <a href="{{ share_url }}">{{ ../strings.read_more }}</a>

  <!-- Show the published date of the blog post, linking to the blog post -->
  {{ date published ../theme_options.date_format }}
{{/ each }}

<!-- If there are more than 10 posts to show, add an link to the next 10 -->
{{# if page_obj.has_next }}
  <a href="?page={{ page_obj.next_page_number }}">{{ theme_options.string_blogpost_list_next }}</a>
{{/ if }}
