<!--
This is your base template. An HTML document consists of a single
<html> tag, inside of which is a <head> tag and a <body> tag. We already
include these tags for you, so everything you add here will be added to the
<body> tag.
-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">{{ podcast_name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-caria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{# each main_menu }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ menu_item_url }}">{{ menu_item_title }}</a>
                    </li>
                {{/ each }}
            </ul>
        </div>
    </div>
</nav>

<!-- Main content -->
{{ yield main }}

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {{# each social_links }}
                        <li class="list-inline-item">
                            <a href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-{{ link_class }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    {{/ each }}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ podcast_name }} |
                    <a href="{{ podiant_url }}" target="_blank">Podcast hosting by Podiant</a>
                </p>
            </div>
        </div>
    </div>
</footer>
