<!-- The blog template, shown when the user visits the blog -->

<section class="infinite-container blog-posts">
    <!-- Loop through the posts in the blog -->
    {{# each page_obj.object_list }}
        <article class="blog-post in-list infinite-item" data-id="post-{{ _id }}">
            <!-- Not all blog posts need a title. Only show this section if a title is set -->
            {{# exists title }}
                <header>
                    <h2 class="article-title">
                        <!--
                        Link to the blog post. If the post is a link post, open the link in
                        a new window (that's what the {{ target }} bit is about, and it's fine
                        that there's no space between the " and {{ target }}.)
                        -->
                        <a href="{{ link_url }}"{{{ target }}}>{{ title }}</a><br>
                    </h2>
                </header>
            {{/ exists }}

            <!-- If the blog post contains an image, show it here -->
            {{# exists image }}
                <img src="{{ image }}" style="max-width: 100%;" />
            {{/ exists }}

            <section class="body">
                <!-- Some blog posts have embeddable content, like polls or videos. Show that here -->
                {{# exists embed }}{{{ embed }}}{{/ exists }}

                <!-- Show an excerpt of the post, if there is any text -->
                {{# exists summary }}{{{ summary }}}{{/ exists }}
            </section>

            <footer>
                <!-- Show the published date of the blog post, linking to the blog post -->
                <a href="{{ share_url }}">
                    <i class="fa fa-eye"></i>
                    {{ ../strings.read_more }}
                </a>

                <i class="fa fa-calendar"></i>
                {{ date published 'MMMM D, YYYY' }}

                <span class="pull-right">
                    {{ ../strings.share }}&nbsp;&nbsp;
                    {{# with share_urls }}
                        <!-- Links to share content via Twitter, Facebook and Pinterest -->
                        <a href="{{ twitter_share_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="{{ facebook_share_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="{{ pinterest_share_url }}" target="_blank"><i class="fa fa-pinterest"></i></a>
                    {{/ with }}
                </span>
            </footer>
        </article>
    {{/ each }}

    <!--
    If there are more than 10 posts to show, add an invisible link so that, when
    the user scrolls to the bottom, the next 10 posts are shown
    -->
    {{# if page_obj.has_next }}
        <a href="?page={{ page_obj.next_page_number }}" aria-label="Older posts" class="infinite-more-link">
            <span aria-hidden="true">&raquo;</span> Older posts
        </a>
    {{/ if }}
</section>
