<!--
The episode list, shown when the user visits the homepage and views more
than the first 10 episodes.

This template is rendered via infinite scrolling, so it's automatically
appended to the bottom of the page when the user scrolls past the 10th
episode.
-->

<!-- Loop through the next 10 episodes -->
{{# each page_obj.object_list }}
    <article class="episode in-list infinite-item" data-id="episode-{{ _id }}">
        <header>
            <!-- Link to the episode and show the title and subtitle -->
            <h2 class="article-title">
                <a href="{{ share_url }}">{{ title }}</a><br>
                <small class="article-subtitle">{{ subtitle }}</small>
            </h2>
        </header>

        <!-- Show the player -->
        {{{ iframe }}}

        <section class="body">
            <!-- Show a summary of the episode -->
            {{{ summary }}}
        </section>

        <footer>
            <!-- Link to the episode and write the words "Read more" -->
            <a href="{{ share_url }}">
                <i class="fa fa-eye"></i>
                {{ ../strings.read_more }}
            </a>

            <!-- Link to the downloadable file for the episode, and show the filesize -->
            <a href="{{ download_url }}" download>
                <i class="fa fa-download"></i>
                {{ ../strings.download_episode }} ({{ filesize }})
            </a>

            <!-- If the episode has a published date, show it -->
            <i class="fa fa-calendar"></i>
            {{ date published 'MMMM D, YYYY' }}

            <span class="pull-right">
                <!-- Write the word "Share" -->
                {{ ../strings.share }}&nbsp;&nbsp;

                {{# with share_urls }}
                    <!-- Links to share content via Twitter, Facebook and Pinterest -->
                    <a href="{{ twitter_share_url }}" target="_blank" data-action="share"><i class="fa fa-twitter"></i></a>
                    <a href="{{ facebook_share_url }}" target="_blank" data-action="share"><i class="fa fa-facebook"></i></a>
                    <a href="{{ pinterest_share_url }}" data-action="share"><i class="fa fa-pinterest"></i></a>
                {{/ with }}
            </span>

            <!-- Show this footer on tablet and desktop -->
            <div class="guest-footer hidden-xs">
                {{# each guests }}
                    <a href="{{ guest_url }}">
                        <img class="img-circle" src="{{ guest_image }}" width="48" alt="{{ guest_name }}">
                    </a>
                {{/ each }}
            </div>
        </footer>
    </article>
{{/ each }}

<!--
If there are more than 10 episodes to show, add an invisible link so that, when
the user scrolls to the bottom, the next 10 episodes are shown
-->
{{# if page_obj.has_next }}
    <a href="?page={{ page_obj.next_page_number }}" aria-label="Older episodes" class="infinite-more-link">
        <span aria-hidden="true">&raquo;</span> Older episodes
    </a>
{{/ if }}
