<!--
The guest list template, shown when the user visits the Guests page

This template is rendered via infinite scrolling, so it's automatically
appended to the bottom of the page when the user scrolls past each 10th
guest.

-->

<article class="single page">
  <header>
    <h2 class="article-title">
      <!-- Link back to this page, writing the word "Guests" -->
      <a href="{{ urls.guests }}">{{ strings.guests }}</a>
    </h2>
  </header>

  <section class="body">
    <div class="infinite-container">
      {{# each page_obj.object_list }}
        <!-- Loop through the guests -->
        <div id="guest-{{ _id }}" class="media infinite-item">
          <div class="media-left">
            <a href="{{ share_url }}">
              <!-- Add the guest's image, linking to the guest page -->
              <img src="{{ image }}" class="media-object" width="150" height="150" />
            </a>
          </div>

          <div class="media-body">
            <!-- Link to the guest and show their name -->
            <h2 class="media-heading">
              <a href="{{ share_url }}">{{ title }}</a>
            </h2>

            <!--
            Show the guest's biography. Use three braces to ensure content that
            contains HTML displays correctly
            -->
            {{{ description }}}

            <small>
              <!-- Loop through any links to the guest's websites -->
              {{# each links }}
                <a href="{{ link_url }}" class="text-muted" target="_blank">
                  <i class="fa fa-{{ link_class }}"></i>
                  {{ link_title }}
                </a>
              {{/ each }}
            </small>
          </div>
        </div>
      {{/ each }}

      <!--
      If there are more than 10 guests to show, add an invisible link so that, when
      the user scrolls to the bottom, the next 10 guests are shown
      -->

      {{# if page_obj.has_next }}
        <a href="?page={{ page_obj.next_page_number }}" aria-label="Older posts" class="infinite-more-link">
          <span aria-hidden="true">&raquo;</span> Older posts
        </a>
      {{/ if }}
    </div>

    &nbsp;
  </section>
</article>
