<!--
The homepage template, shown when the user is looking at the first 10 episodes
(andn any pinned blog posts) of the podcast
-->

<section class="infinite-container episodes">
    <!-- If there is a published episode, show it here -->
    {{# with page_obj.first_object }}
        <article class="single episode" data-id="episode-{{ _id }}">
            <header>
                <!-- Link to the episode and show the title and subtitle -->
                <h2 class="article-title">
                    <a href="{{ share_url }}">{{ title }}</a>
                    <small class="article-subtitle">{{ subtitle }}</small>
                </h2>
            </header>

            <!-- Show the player -->
            {{{ iframe }}}

            <section class="body">
                <!-- Show a summary of the episode -->
                {{{ summary }}}
            </section>

            <footer>
                <!-- Link to the episode and write the words "Read more" -->
                <a href="{{ share_url }}">
                    <i class="fa fa-eye"></i>
                    {{ ../strings.read_more }}
                </a>

                <!-- Link to the downloadable file for the episode, and show the filesize -->
                <a href="{{ download_url }}" download>
                    <i class="fa fa-download"></i>
                    {{ ../strings.download_episode }} ({{ filesize }})
                </a>

                <!-- If the episode has a published date, show it -->
                <i class="fa fa-calendar"></i>
                {{ date published 'MMMM D, YYYY' }}

                <span class="pull-right">
                    <!-- Write the word "Share" -->
                    {{ ../strings.share }}&nbsp;&nbsp;

                    {{# with share_urls }}
                        <!-- Links to share content via Twitter, Facebook and Pinterest -->
                        <a href="{{ twitter_share_url }}" target="_blank" data-action="share"><i class="fa fa-twitter"></i></a>
                        <a href="{{ facebook_share_url }}" target="_blank" data-action="share"><i class="fa fa-facebook"></i></a>
                        <a href="{{ pinterest_share_url }}" data-action="share"><i class="fa fa-pinterest"></i></a>
                    {{/ with }}
                </span>

                <!-- Show this footer on tablet and desktop -->
                <div class="guest-footer hidden-xs">
                    {{# each guests }}
                        <a href="{{ guest_url }}"><img class="img-circle" src="{{ guest_image }}" width="48" alt="{{ guest_name }}"></a>
                    {{/ each }}
                </div>
            </footer>
        </article>
    {{/ with }}

    {{# each pinned_blog_posts }}
        <!-- Loop through any pinned blog posts. There should either be 0 or 1 -->
        <article class="post in-list">
            <!-- Not all blog posts need a title. Only show this section if a title is set -->
            {{# exists post_title }}
                <header>
                    <h2 class="article-title">
                        <!-- Link to the post and show the title -->
                        <a href="{{ post_url }}">{{ post_title }}</a>
                    </h2>
                </header>
            {{/ exists }}

            <!-- If the blog post contains an image, show it here -->
            {{# exists post_image }}
                <a href="{{ post_url }}"{{{ target }}}>
                    <img src="{{ post_image }}" style="max-width: 100%;">
                </a>
            {{/ exists }}

            <section class="body">
                <!-- Some blog posts have embeddable content, like polls or videos. Show that here -->
                {{# exists post_embed }}{{{ post_embed }}}{{/ exists }}

                <!-- Show an excerpt of the post, if there is any text -->
                {{# exists post_summary }}{{{ post_summary }}}{{/ exists }}
            </section>

            <footer>
                <!-- Show the published date of the blog post, linking to the blog post -->
                <a href="{{ share_url }}">
                    <i class="fa fa-eye"></i>
                    {{ ../strings.read_more }}
                </a>
            </footer>
        </article>
    {{/ each }}

    <article class="about">
        <!-- Write the words "About the podcast" -->
        <h2>{{ strings.about }}</h2>
        <div class="lead">
            <!--
            Show the episode description. Use three braces to ensure content
            that contains HTML displays correctly
            -->
            {{{ podcast_description }}}
        </div>

        <!-- List of subscription links (Apple Podcasts, Pocket Casts, Overcast, etc) on tablet and desktop -->
        <ul class="nav nav-pills subscribe-pills hidden-xs">
            {{# each subscription_links }}
                <li class="subscribe-{{ link_class }}">
                    <a href="{{ link_url }}" target="_blank">
                        <img src="{{ link_icon }}">&nbsp;
                        {{ link_title }}
                    </a>
                </li>
            {{/ each }}
        </ul>
    </article>

    <!-- If host info has been added for the podcast, show it here -->
    {{# exists hosts }}
        <aside class="host-list">
            <!--
            Write the words "Meet the host" or "Meet the hosts", depending on how many
            hosts have been added
            -->
            <h2>{{ strings.hosts }}</h2>

            {{# each hosts }}
                <!-- Loop through the hosts -->
                <div class="host">
                    <!-- Show the host's image and name, linking to the Hosts page -->
                    <a href="{{ host_url }}">
                        <img src="{{ host_image }}" class="media-object img-circle" width="122" height="122">
                        <h3>{{ host_name }}</h3>
                    </a>
                </div>
            {{/ each }}
        </aside>
    {{/ exists }}

    <!--
    All of that was just to show the first episode and any pinned blog posts,
    along with info about the podcast. Now we're going to list the remaining
    episodes in the podcast
    -->
    {{# each page_obj.subsequent_objects }}
        <!-- Loop through each subsequent episode in the list (all but the first) -->
        <article class="episode in-list" data-id="episode-{{ _id }}">
            <header>
                <!-- Link to the episode and show the title and subtitle -->
                <h2 class="article-title">
                    <a href="{{ share_url }}">{{ title }}</a><br>
                    <small class="article-subtitle">{{ subtitle }}</small>
                </h2>
            </header>

            <!-- Show the player -->
            {{{ iframe }}}

            <section class="body">
                <!-- Show a summary of the episode -->
                {{{ summary }}}
            </section>

            <footer>
                <!-- Link to the episode and write the words "Read more" -->
                <a href="{{ share_url }}">
                    <i class="fa fa-eye"></i>
                    {{ ../strings.read_more }}
                </a>

                <!-- Link to the downloadable file for the episode, and show the filesize -->
                <a href="{{ download_url }}" download>
                    <i class="fa fa-download"></i>
                    {{ ../strings.download_episode }} ({{ filesize }})
                </a>

                <!-- If the episode has a published date, show it -->
                <i class="fa fa-calendar"></i>
                {{ date published 'MMMM D, YYYY' }}

                <span class="pull-right">
                    <!-- Write the word "Share" -->
                    {{ ../strings.share }}&nbsp;&nbsp;

                    {{# with share_urls }}
                        <!-- Links to share content via Twitter, Facebook and Pinterest -->
                        <a href="{{ twitter_share_url }}" target="_blank" data-action="share"><i class="fa fa-twitter"></i></a>
                        <a href="{{ facebook_share_url }}" target="_blank" data-action="share"><i class="fa fa-facebook"></i></a>
                        <a href="{{ pinterest_share_url }}" data-action="share"><i class="fa fa-pinterest"></i></a>
                    {{/ with }}
                </span>

                <!-- Show this footer on tablet and desktop -->
                <div class="guest-footer hidden-xs">
                    {{# each guests }}
                        <a href="{{ guest_url }}">
                            <img class="img-circle" src="{{ guest_image }}" width="48" alt="{{ guest_name }}">
                        </a>
                    {{/ each }}
                </div>
            </footer>
        </article>
    {{/ each }}

    <!--
    If there are more than 10 episodes to show, add an invisible link so that, when
    the user scrolls to the bottom, the next 10 episodes are shown
    -->
    {{# if page_obj.has_next }}
        <a href="?page={{ page_obj.next_page_number }}" aria-label="Older episodes" class="infinite-more-link">
            <span aria-hidden="true">&raquo;</span> Older episodes
        </a>
    {{/ if }}
</section>
