<!--
This is your base template. An HTML document consists of a single
<html> tag, inside of which is a <head> tag and a <body> tag. We already
include these tags for you, so everything you add here will be added to the
<body> tag.
-->

<div class="top-banner">&nbsp;</div>

<header class="welcome">
  <div class="container">
    <!-- Podcast logo, linking to the homepage -->
    <a href="{{ podcast_url }}">
      <img src="{{ main_artwork }}" class="podcast-artwork" height="400" />
    </a>

    <!-- Podcast name, linking to the homepage -->
    <h1>
      <a href="{{ podcast_url }}">{{ podcast_name }}</a>
    </h1>

    <!-- Podcast subtitle -->
    <p class="subtitle">{{ podcast_subtitle }}</p>

    <!-- List of subscription links (Apple Podcasts, Pocket Casts, Overcast, etc) -->
    <ul class="nav subscribe-pills">
      {{# each subscription_links }}
        <li class="subscribe-{{ link_class }}">
          <a href="{{ link_url }}" target="_blank" title="{{ link_title }}" data-toggle="tooltip">
            <img src="{{ link_icon }}" />&nbsp;
          </a>
        </li>
      {{/ each }}
    </ul>

    <!-- List of social media links (Twitter, Facebook, etc) -->
    <ul class="list-inline social-links">
      {{# each social_links }}
        <li class="social-{{ link_class }}">
          <a href="{{ link_url }}" target="_blank" title="{{ link_title }}" data-toggle="tooltip">
            <i class="fa fa-{{ link_class }}"></i>
          </a>
        </li>
      {{/ each }}
    </ul>
  </div>
</header>

<!-- Main content area -->
<div class="container">
  <div class="row">
    <main class="col-md-8 col-md-offset-2">
      <!--
      Include the relevant template for this page. You can move this
      elsewhere, but do not remove it or your theme won't work.
      -->
      {{ yield main }}
    </main>
  </div>
</div>

<footer class="podcast-meta">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-8">
        <ul class="hidden-xs hidden-sm nav nav-pills">
          <!-- Main menu items -->
          {{# each main_menu }}
            <li {{# if menu_item_selected }}class="active"{{/ if }}>
              <a href="{{ menu_item_url }}">{{ menu_item_title }}</a>
            </li>
          {{/ each }}

          <!-- Link to a modal that pops up when clicked, with a simple search form -->
          <li>
            <a href="#search-modal" data-toggle="modal">
              <i class="fa fa-search"></i> {{ strings.search }}
            </a>
          </li>
        </ul>

        <!-- Add a hamburger menu (three vertical lines) for mobile users -->
        <ul class="visible-xs visible-sm nav nav-pills">
          <li>
            <a href="#submenu" data-toggle="active"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-xs-10 col-sm-4">
        <!--
        Credit Podiant. You don't have to include this, but it's nice to be nice.
        -->
        <div class="podiant-credit">
          <a href="{{ podiant_url }}" target="_blank">
            Podcast powered by
            <img src="{{ podiant_logo }}" height="25" alt="Podiant podcast hosting" title="Podiant" data-toggle="tooltip" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--
This submenu appears on mobile, and using the default stylesheet,
takes over the entire screen when the user invokes it via the hamburger
menu
-->
<div id="submenu" class="visible-xs1">
  <div class="container">
    <a href="#submenu" data-toggle="active">&times;</a>

    <ul class="nav nav-pills nav-stacked">
      <!-- Main menu items -->
      {{# each main_menu }}
        <li{{# if menu_item_selected }} class="active"{{/ if }}>
          <a href="{{ menu_item_url }}">{{ menu_item_title }}</a>
        </li>
      {{/ each }}
    </ul>

    <!-- Show the search form at the bottom of the mobile menu -->
    <form action="{{ urls.search }}">
      <div class="form-group">
        <input type="search" class="form-control" name="q" placeholder="{{ strings.search }}" />
      </div>
    </form>
  </div>
</div>

<!--
The modal dialog box, invoked whtn the user taps the Search button
-->
<div id="search-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action="{{ urls.search }}">
          <div class="form-group">
            <input type="search" class="form-control" name="q" placeholder="{{ theme_options.string_search_placeholder }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
