<!-- The episode template, shown when a user visits a specific episode -->

{{# with object }}
  <!--
  "object" is the name of the main variable. It's a bit like using a loop,
  but it sets the context for the rest of the template so that you can refer
  to properties inside the object, without having to write "{{ object.title }}"
  for example
  -->

  <!-- Link to the episode and show the title and subtitle -->
  <h2>
    <a href="{{ share_url }}">{{ title }}</a><br>
    <small>{{ subtitle }}</small>
  </h2>

  <!-- Show the player -->
  {{{ iframe }}}

  <!--
  Review mode allows podcasters to send links to episodes before they're
  published. Reviewers get a special URL with a form they can use to add
  notes or approve the episode. You should leave this somewhere in your
  template.
  -->
  {{{ ../review_form }}}

  <!-- Use three braces to ensure content that contains HTML displays correctly -->
  {{{ description }}}

  {{# exists guests }}
    <!-- If there are any guests, add a subheading and loop through the guests -->
    <h3>{{ ../strings.guests }}</h3>

    <ul>
      {{# each guests }}
        <li>
          <a href="{{ guest_url }}"><img src="{{ guest_image }}" width="80" /></a>
          <a href="{{ guest_url }}">{{ guest_name }}</a>
          {{{ guest_biography }}}

          <ul>
            {{# each links }}
              <li>
                <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
              </li>
            {{/ each }}
          </ul>
        </li>
      {{/ each }}
    </ul>
  {{/ exists }}

  {{# exists transcript }}
    <!-- Use three braces to ensure content that contains HTML displays correctly -->
    {{{ transcript }}}
  {{/ exists }}

  {{# exists links }}
    <!-- The content for the Links tab -->
    <ul>
      {{# each links }}
        <li>
          <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
        </li>
      {{/ each }}
    </ul>
  {{/ exists }}

  {{# exists chapters }}
    <!-- The content for the Links tab -->
    <ol>
      {{# each chapters }}
        <li>
          <!-- If the chapter points to an external link, wrap the chapter title in a clickable link tag -->
          {{# exists chapter_link }}<a href="{{ chapter_link }}" target="_blank">{{/ exists }}
          {{ chapter_title }}

          <!-- If we opened a clickable link tag, close it here -->
          {{# exists chapter_link }}</a>{{/ exists }}
        </li>
      {{/ each }}
    </ol>
  {{/ exists }}

  {{# exists guests }}
    <!-- The content for the Guests tab -->
    <ul>
      {{# each guests }}
        <li>
          <a href="{{ guest_url }}"><img src="{{ guest_image }}" width="162" /></a>
          <a href="{{ guest_url }}">{{ guest_name }}</a>
          {{{ guest_biography }}}

          <ul>
            {{# each links }}
              <li>
                <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
              </li>
            {{/ each }}
          </ul>
        </li>
      {{/ each }}
    </ul>
  {{/ exists }}

  <!-- Show the commnets section, if the podcaster has enabled it -->
  {{ yield comments }}

  {{# exists similar_episodes }}
    <!-- Show this if there are similar episodes the listener might enjoy -->

    <h2>{{ ../theme_options.string_related_episodes }}</h2>
    <ul>
      {{# each similar_episodes }}
        <li>
          <a href="{{ episode_url }}"><img src="{{ episode_image }}" /></a>
          <a href="{{ episode_url }}">{{ episode_title }}</a>

          {{{ episode_summary }}}
          From <a href="{{ podcast_url }}">{{ podcast_name }}</a>
        </li>
      {{/ each }}
    </ul>
  {{/ exists }}

  <!-- Link to the downloadable file for the episode, and show the filesize -->
  <a href="{{ download_url }}" download>
    {{ ../strings.download_episode }} ({{ filesize }})
  </a>

  <!-- If the episode has a published date, show it -->
  {{# exists published }}
    {{ date published ../theme_options.date_format }}
  {{/ exists }}

  <!-- Write the word "Share" -->
  <p>{{ ../strings.share }}</p>

  {{# with share_urls }}
    <!-- Links to share content via Twitter, Facebook and Pinterest -->
    <ul>
      <li><a href="{{ twitter_share_url }}" target="_blank">Twitter</a></li>
      <li><a href="{{ facebook_share_url }}" target="_blank">Facebook</a></li>
      <li><a href="{{ pinterest_share_url }}" target="_blank">Pinterest</a></li>
    </ul>
  {{/ with }}
{{/ with }}
