<!-- The host list template, shown when the user visits the "Meet the hosts" page -->

<h2>
  <!--
  Link back to this page, writing the word "Meet the host" or "Meet the hosts|",
  depending on the number of hosts the podcast has
  -->
  <a href="{{ urls.hosts }}">{{ strings.hosts }}</a>
</h2>

<ul>
  {{# each object_list }}
    <!-- Loop through the hosts -->
    <li id="host-{{ _id }}">
      <!-- Add the host's image, linking to this section in the page -->
      <img src="{{ image }}" />

      <!-- Show the host's name -->
      <h2>{{ title }}</h2>

      <!--
      Show the host's biography. Use three braces to ensure content that
      contains HTML displays correctly
      -->
      {{{ description }}}

      <!-- Loop through any links to the host's websites -->
      <ul>
        {{# each links }}
          <li>
            <a href="{{ link_url }}" class="text-muted" target="_blank">
              <i class="fa fa-{{ link_class }}"></i>
              {{ link_title }}
            </a>
          </li>
        {{/ each }}
      </ul>
    </li>
  {{/ each }}
</ul>
