<!--
This is your base template. An HTML document consists of a single
<html> tag, inside of which is a <head> tag and a <body> tag. We already
include these tags for you, so everything you add here will be added to the
<body> tag.
-->

<!-- Main menu -->
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{# if is_network }}
                <!-- If in network mode, show the network name -->
                <a class="navbar-brand" href="/">{{ network_name }}</a>
            {{ else }}
                <!-- If in podcast mode, show the podcast name -->
                <a class="navbar-brand" href="/">{{ podcast_name }}</a>
            {{/ if }}
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                {{# if is_network }}
                    <!-- If in network mode, show the network's main menu -->
                    {{# each network_main_menu }}
                        <li{{# if menu_item_selected }} class="active"{{/ if }}>
                            <a href="{{ menu_item_url }}">
                                {{ menu_item_title }}
                                {{# if menu_item_selected }}<span class="sr-only">(current)</span>{{/ if }}
                            </a>
                        </li>
                    {{/ each }}
                {{ else }}
                    <!-- If in podcast mode, show the podcast's main menu -->
                    {{# each main_menu }}
                        <li{{# if menu_item_selected }} class="active"{{/ if }}>
                            <a href="{{ menu_item_url }}">
                                {{ menu_item_title }}
                                {{# if menu_item_selected }}<span class="sr-only">(current)</span>{{/ if }}
                            </a>
                        </li>
                    {{/ each }}
                {{/ if }}
            </ul>
        </div>
    </div>
</nav>

<!--
Add a banner. This complex looking line is a series of if statements, to
determine which banner to show. A podcast can have a banner, as can a network.
A visitor to a network might be looking at a specific podcast, so if that's the
case, we want to show that podcasts' banner image, not the network's global
image. -->
<div class="banner" style="{{# if is_network }}{{# if is_podcast }}background-color: {{{ podcast_banner_colour }}}; background-image: url('{{{ podcast_banner_image }}}');{{ else }}background-color: {{{ network_banner_colour }}}; background-image: url('{{{ network_banner_image }}}');{{/ if }}{{ else }}background-color: {{{ podcast_banner_colour }}}; background-image: url('{{{ podcast_banner_image }}}');{{/ if }}">
    <!-- Adds a gradient to darken the banner image, using the relevant banner colour -->
    <span class="wash" style="{{# if is_network }}{{# if is_podcast }}background: -moz-linear-gradient(top, {{ podcast_banner_colour }}00 0%, {{ podcast_banner_colour }} 100%); background: -webkit-linear-gradient(top, {{ podcast_banner_colour }}00 0%,{{ podcast_banner_colour }} 100%); background: linear-gradient(to bottom, {{ podcast_banner_colour }}00 0%,{{ podcast_banner_colour }} 100%);{{ else }}background: -moz-linear-gradient(top, {{ network_banner_colour }}00 0%, {{ network_banner_colour }} 100%); background: -webkit-linear-gradient(top, {{ network_banner_colour }}00 0%,{{ network_banner_colour }} 100%); background: linear-gradient(to bottom, {{ network_banner_colour }}00 0%,{{ network_banner_colour }} 100%);{{/ if }}{{ else }}background: -moz-linear-gradient(top, {{ podcast_banner_colour }}00 0%, {{ podcast_banner_colour }} 100%); background: -webkit-linear-gradient(top, {{ podcast_banner_colour }}00 0%,{{ podcast_banner_colour }} 100%); background: linear-gradient(to bottom, {{ podcast_banner_colour }}00 0%,{{ podcast_banner_colour }} 100%);{{/ if }}"></span>
    <div class="banner-content">
        <div class="container">
            {{# if is_network }}
                <!-- If we're in network mode -->
                {{# if is_podcast }}
                    <!-- If the user is viewing a podcast-specific page within the network -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Show the podcast name and subtitle, linking the name to the podcast homepage -->
                            <h1><a href="{{ podcast_url }}">{{ podcast_name }}</a></h1>
                            <p>{{ podcast_subtitle }}</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-pills">
                                <!-- Show the podcast's main menu -->
                                {{# each main_menu }}
                                    <li{{# if menu_item_selected }} class="active"{{/ if }}>
                                        <a href="{{ menu_item_url }}">
                                            {{ menu_item_title }}
                                            {{# if menu_item_selected }}<span class="sr-only">(current)</span>{{/ if }}
                                        </a>
                                    </li>
                                {{/ each }}
                            </ul>
                        </div>
                    </div>
                {{ else }}
                    <!-- If the user is viewing a network-specific page, just show the network name and subtitle, linking the name to the network homepage -->
                    <h1><a href="/">{{ network_name }}</a></h1>
                    <p>{{ network_subtitle }}</p>
                {{/ if }}
            {{ else }}
                <!-- If we're in podcast mode, show the podcast name and subtitle, linking the name to the podcast homepage -->
                <h1><a href="/">{{ podcast_name }}</a></h1>
                <p>{{ podcast_subtitle }}</p>
            {{/ if }}
        </div>
    </div>
</div>

<div class="container" id="main-container">
    <div class="row">
        <div class="col-sm-8">
            <!--
            Include the relevant template for this page. You can move this
            elsewhere, but do not remove it or your theme won't work.
            -->
            {{ yield main }}
        </div>
        <div class="col-sm-4 pull-right">
            <div class="author well">
                {{# if is_network }}
                    <!-- If we're in network mode -->
                    {{# if is_podcast }}
                        <!-- If the user is viewing a podcast-specific page, show the podcast description -->
                        {{{ podcast_description }}}
                    {{ else }}
                        <!-- If the user is viewing a network-specific page, show the network description -->
                        {{{ network_description }}}
                    {{/ if }}
                {{ else }}
                    <!-- If we're in podcast mode, show the podcast description -->
                    {{{ podcast_description }}}
                {{/ if }}

                <!-- List of subscription links (Apple Podcasts, Pocket Casts, Overcast, etc) -->
                {{# each subscription_links }}
                    <a class="btn-subscribe" href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                        <img src="{{ link_icon }}" />
                    </a>
                {{/ each }}

                <!-- List of social media links (Twitter, Facebook, etc) -->
                {{# each social_links }}
                    &nbsp;<a href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                        <i class="fa fa-{{ link_class }}"></i>
                    </a>
                {{/ each }}
            </div>

            {{ yield widgets }}
        </div>
    </div>
</div>

<!-- Add a footer section -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                {{# if is_network }}
                    <!-- If we're in network mode, show the network description -->
                    {{{ network_description }}}
                {{ else }}
                    <!-- If we're in podcast mode, show the podcast description -->
                    {{{ podcast_description }}}
                {{/ if }}
            </div>

            <div class="col-md-3 col-xs-6">
                <ul class="list-unstyled">
                    {{# if is_network }}
                        <!-- If we're in network mode, list all the podcasts in the network -->
                        {{# each network_podcasts }}
                            <li>
                                <a href="{{ podcast_url }}">{{ podcast_name }}</a>
                            </li>
                        {{/ each }}
                    {{ else }}
                        <!-- If we're in podcast mode, list all teh subscription links for the podcast -->
                        {{# each subscription_links }}
                            <li>
                                <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
                            </li>
                        {{/ each }}
                    {{/ if }}
                </ul>
            </div>

            <div class="col-md-3 col-xs-6">
                <!-- Add a second column of information -->
            </div>

            <div class="col-md-3 col-xs-6">
                <!-- Add a third column of information -->
            </div>
        </div>
    </diV>
</div>

<div id="footer">
    <footer class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    &copy;
                    <!-- If we're in network mode, show the network name, otherwise show the podcast name -->
                    {{# if is_network }}{{ network_name }}{{ else }}{{ podcast_name }}{{/ if }} |

                    <!-- Credit Podiant. You don't have to include this, but it's nice to be nice. -->
                    <a href="{{ podiant_url }}" target="_blank">Podcast hosting by Podiant</a>
                </p>
            </div>

            <div class="col-sm-6">
                <ul class="social-media-links">
                    {{# if is_network }}
                        <!-- If we're in network mode, list the network's social media links (Twitter, Facebook, etc) -->
                        {{# each network_social_links }}
                            <li class="icon-link">
                                <a href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                                    <i class="fa fa-{{ link_class }}"></i>
                                </a>
                            </li>
                        {{/ each }}
                    {{ else }}
                        <!-- If we're in podcast mode, list the podcast's social media links (Twitter, Facebook, etc) -->
                        {{# each social_links }}
                            <li class="icon-link">
                                <a href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                                    <i class="fa fa-{{ link_class }}"></i>
                                </a>
                            </li>
                        {{/ each }}
                    {{/ if }}
                </ul>
            </div>
        </div>
    </footer>
</div>
