<!--
This is your base template. An HTML document consists of a single
<html> tag, inside of which is a <head> tag and a <body> tag. We already
include these tags for you, so everything you add here will be added to the
<body> tag.
-->

<div class="site-wrap" id="menu-wrap">
  <!--
  This is a menu that slides out from the side. It includes a button to
  close it once activated.
  -->
  <div class="site-mobile-menu" id="side-menu">
    <div class="site-mobile-menu-header">
      <!-- Side menu close button -->
      <a class="site-mobile-menu-close mt-3" href="#menu-wrap" data-toggle="active">
        <span class="fa fa-close" data-toggle="active"></span>
      </a>
    </div>
    <div class="site-mobile-menu-body">
      <ul class="site-menu site-nav-wrap">
        <!-- Main menu items -->
        {{# each main_menu }}
          <li>
            <a href="{{ menu_item_url }}#main">{{ menu_item_title }}</a>
          </li>
        {{/ each }}
      </ul>
    </div>
  </div>

  <header class="site-navbar py-4 absolute transparent" role="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10">
          <h1>
            <!-- Podcast name, linking to the homepage -->
            <a href="/" class="text-white h2">{{ podcast_name }}</a>
          </h1>
        </div>
        <div class="col-2">
          <!-- Button that opens the side menu -->
          <nav class="site-navigation position-relative text-right text-md-right" role="navigation">
            <div class="d-inline-block ml-md-0 mr-auto py-3">
              <a href="#menu-wrap" class="site-menu-toggle text-white" data-toggle="active">
                <span class="fa fa-bars fa-2x"></span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!--
  Include the relevant template for this page. You can move this
  elsewhere, but do not remove it or your theme won't work.
  -->
  {{ yield main }}

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <!-- Column showing podcast description -->
        <div class="col-lg-4">
          <div class="mb-5">
            <h3 class="footer-heading mb-4">{{ strings.about }}</h3>
            {{{ podcast_description }}}
          </div>
        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
          <!-- Column showing subscription links -->
          <div class="mb-5">
            <h3 class="footer-heading mb-4">Subscribe</h3>
            <div class="block-25">
              <ul class="list-unstyled list-subscription-links">
                <!-- List of subscription links (Apple Podcasts, Pocket Casts, Overcast, etc) -->
                {{# each subscription_links }}
                  <li class="mb-1">
                    <a href="{{ link_url }}" class="d-flex" target="_blank">
                      <figure class="image">
                        <img src="{{ link_icon }}" alt="" class="img-fluid subscription-icon" />
                      </figure>
                      <div class="text">
                        <h3 class="heading font-weight-light">{{ link_title }}</h3>
                      </div>
                    </a>
                  </li>
                {{/ each }}
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">{{ theme_options.string_follow_us }}</h3>

              <div>
                <!-- List of social media links (Twitter, Facebook, etc) -->
                {{# each social_links }}
                  <a href="{{ link_url }}" class="pl-0 pr-3">
                    <span class="fa fa-{{ link_class }}" title="{{ link_title }}"></span>
                  </a>
                {{/ each }}
              </div>
            </div>
          </div>
        </div>

        <!-- Include third-party widgets like a MailChimp form or donation button -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="mb-5">
            {{ yield widgets }}
          </div>
        </div>
      </div>

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <!--
          Credit Podiant. You don't have to include this, but it's nice to be nice.
          Do please leave the Podca credit in tact, as removing it would violate
          the theme's license.
          -->

          <p>
            Podcast hosting by <a href="{{ podiant_url }}" target="_blank">Podiant</a><br />
            Theme bsaed on <a href="https://colorlib.com/wp/template/podca/" target="_blank" rel="noreferrer">Podca</a> by
            <a href="https://colorlib.com" target="_blank" rel="noreferrer">Colorlib</a>
          </p>

          {{# if theme_options.podiant_logo }}
            <p>
              <a href="{{ podiant_url }}" target="_blank" title="Podcast hosting by Podiant">
                <img class="podiant-logo" src="{{ podiant_logo }}" alt="Podcast hosting by Podiant" />
              </a>
            </p>
          {{/ if }}
        </div>
      </div>
    </div>
  </footer>
</div>
