<!-- The episode template, shown when a user visits a specific episode -->

{{# with object }}
  <!--
  "object" is the name of the main variable. It's a bit like using a loop,
  but it sets the context for the rest of the template so that you can refer
  to properties inside the object, without having to write "{{ object.title }}"
  for example
  -->

  <article class="single episode" data-id="episode-{{ slug }}">
    <header>
      {{# exists published }}
        <span class="date">
          <span class="day">{{ date published 'D' }}</span>
          <span class="month-short">{{ date published 'MMM' }}</span>
          <span class="month-long">{{ date published 'MMMM' }}</span>
        </span>
      {{/ exists }}

      <!-- Link to the episode and show the title and subtitle -->
      <h1 class="article-title">
        <a href="{{ share_url }}">{{ title }}</a>
        <small class="article-subtitle">{{ subtitle }}</small>
      </h1>
    </header>

    <!-- Show the player -->
    {{{ iframe }}}

    <section class="body">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <ul class="nav nav-stacked nav-pills nav-textfield">
            <!-- Show a tabbed list of subpages for the episode -->
            <li class="active"><a href="#description">{{ ../strings.description }}</a></li>
            {{# exists transcript }}<li><a href="#transcript">{{ ../strings.transcript }}</a></li>{{/ exists }}
            {{# exists links }}<li><a href="#links">{{ ../strings.links }}</a></li>{{/ exists }}
            {{# exists chapters }}<li><a href="#chapters">{{ ../strings.chapters }}</a></li>{{/ exists }}
            {{# exists guests }}<li class="hidden-xs"><a href="#guests">{{ ../strings.guests }}</a></li>{{/ exists }}
          </ul>
        </div>

        <div class="col-sm-9">
          <div data-field="description">
            <!-- The contents for the show notes tab -->

            <!-- Use three braces to ensure content that contains HTML displays correctly -->
            {{{ description }}}

            {{# exists guests }}
              <!-- If there are any guests, add a subheading and loop through the guests -->
              <div class="visible-xs">
                <div class="guest well">
                  {{{ ../strings.guests }}}

                  <ul class="media-list guest-list">
                    {{# each guests }}
                      <li class="media">
                        <div class="media-left">
                          <a href="{{ guest_url }}">
                            <img class="media-object" src="{{ guest_image }}" width="80" />
                          </a>
                        </div>

                        <div class="media-body">
                          <h4 class="media-heading">
                            <a href="{{ guest_url }}">{{ guest_name }}</a>
                          </h4>

                          {{{ guest_biography }}}

                          <ul class="hidden-xs list-unstyled">
                            {{# each guest_links }}
                              <li>
                                <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
                              </li>
                            {{/ each }}
                          </ul>

                          <p class="visible-xs">
                            {{# each guest_links }}
                              <a href="{{ link_url }}" target="_blank" class="text-muted" title="{{ link_title }}">{{{ link_icon }}}</a>
                            {{/ each }}
                          </p>
                        </div>
                      </li>
                    {{/ each }}
                  </ul>
                </div>
              </div>
            {{/ exists }}
          </div>

          <!-- If a transcript is present, show a Transcript tab -->
          {{# exists transcript }}
            <div data-field="transcript" class="hidden">
              {{{ transcript }}}
            </div>
          {{/ exists }}

          <!-- If external links have been added, show a Links tab -->
          {{# exists links }}
            <div data-field="links" class="hidden">
              <ul>
                {{# each links }}
                  <li>
                    <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
                  </li>
                {{/ each }}
              </ul>
            </div>
          {{/ exists }}

          <!-- If the episode has chapters, show a Chapters tab -->
          {{# exists chapters }}
            <div data-field="chapters" class="hidden hidden-xs">
              <table class="table">
                <tbody>
                  {{# each chapters }}
                    <tr>
                      <th width="10%">
                        <a class="badge timecode-link" href="{{ chapter_url }}" target="_self">{{ chapter_time }}</a>
                      </th>
                      <td>
                        {{# exists chapter_link }}<a href="{{ chapter_url }}" target="_blank">{{/ exists }}
                        {{ chapter_title }}
                        {{# exists chapter_link }}</a>{{/ exists }}
                      </td>
                    </tr>
                  {{/ each }}
                </tbody>
              </table>
            </div>
          {{/ exists }}

          <!-- If the episode has any guests, show a Guests tab -->
          {{# exists guests }}
            <div data-field="guests" class="hidden">
              <ul class="media-list guest-list">
                {{# each guests }}
                  <li class="media">
                    <div class="media-left">
                      <a href="{{ guest_url }}">
                        <img class="media-object" src="{{ guest_image }}" width="162" />
                      </a>
                    </div>

                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="{{ guest_url }}">{{ guest_name }}</a>
                      </h4>

                      {{{ guest_biography }}}

                      <ul class="hidden-xs list-unstyled">
                        {{# each guest_links }}
                          <li>
                            <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
                          </li>
                        {{/ each }}
                      </ul>

                      <p class="visible-xs">
                        {{# each guest_links }}
                          <a href="{{ link_url }}" target="_blank" class="text-muted" titoe="{{ link_title }}">{{{ link_icon }}}</a>
                        {{/ each }}
                      </p>
                    </div>
                  </li>
                {{/ each }}
              </ul>
            </div>
          {{/ exists }}
        </div>
      </div>

      <!--
      Review mode allows podcasters to send links to episodes before they're
      published. Reviewers get a special URL with a form they can use to add
      notes or approve the episode. You should leave this somewhere in your
      template.
      -->
      {{{ ../review_form }}}
    </section>

    <section class="comments">
      <!-- Show the commnets section, if the podcaster has enabled it -->
      {{ yield comments }}
    </section>

    <section class="related">
      {{# exists similar_episodes }}
        <!-- Show this if there are similar episodes the listener might enjoy -->
        <h2>You might also like</h2>
        <ul class="media-list">
          {{# each similar_episodes }}
            <li class="media">
              <a class="media-left" href="{{ episode_url }}">
                <img src="{{ episode_image }}" class="media-object" width="150" height="150" />
              </a>

              <div class="media-body">
                <h3 class="media-heading">
                  <a href="{{ episode_url }}">{{ episode_title }}</a>
                </h3>

                {{ episode_summary }}
                <small>From <a href="{{ podcast_url }}">{{ podcast_name }}</a></small>
              </div>
            </li>
          {{/ each }}
        </ul>
      {{/ exists }}
    </section>

    <footer>
      <!-- Link to the downloadable file for the episode, and show the filesize -->
      <a href="{{ download_url }}" download>
        <i class="fa fa-download"></i>
        {{ ../strings.download_episode }} ({{ filesize }})
      </a>

      <!-- If the episode has a published date, show it -->
      {{# exists published }}
        <i class="fa fa-calendar"></i>
        <span>{{ date published ../theme_options.date_format }}</span>
      {{/ exists }}

      <span class="pull-right">
        <!-- Write the word "Share" -->
        {{ ../strings.share }}&nbsp;&nbsp;

        {{# with share_urls }}
          <!-- Links to share content via Twitter, Facebook and Pinterest -->
          <a href="{{ twitter_share_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="{{ facebook_share_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="{{ pinterest_share_url }}" target="_blank"><i class="fa fa-pinterest"></i></a>
        {{/ with }}
      </span>

      <div class="clearfix guest-footer hidden-xs">
        <!-- Show this footer on tablet and desktop -->
        {{# each guests }}
          <a href="{{ guest_url }}">
            <img class="img-circle" src="{{ guest_image }}" width="32" alt="{{ guest_name }}" />
          </a>
        {{/ each }}
      </div>
    </footer>
  </article>
{{/ with }}
