<!-- Generic page template, shown when a user visits a page like "About us"
or "Contact us". Also shown in certain other circumstances, as in when Podiant
needs to show aribrary content at a specific URL -->

{{# with object }}
    <!--
    "object" is the name of the main variable. It's a bit like using a loop,
    but it sets the context for the rest of the template so that you can refer
    to properties inside the object, without having to write "{{ object.title }}"
    for example
    -->

    <article class="single post">
        <!--
        Not all pages have a title (or the title is rendered as prt of the
        main content). If a title is present, show it and link back to the page
        -->

        {{# exists title }}
            <header>
                <h2 class="article-title">
                    <a href="{{ share_url }}">{{ title }}</a>
                </h2>
            </header>
        {{/ exists }}

        <section class="body">
            <!-- If the page has a header image, show it here -->

            {{# exists image }}
                <a href="{{ share_url }}">
                    <img src="{{ image }}" style="max-width: 100%;">
                </a>
            {{/ exists }}

            <!-- Use three braces to ensure content that contains HTML displays correctly -->
            {{{ description }}}
        </section>

        <footer>
            <div class="clearfix">
                <span class="pull-right">
                    <!-- Write the word "Share" -->
                    {{ ../strings.share }}&nbsp;&nbsp;

                    {{# with share_urls }}
                        <!-- Links to share content via Twitter, Facebook and Pinterest -->
                        <a href="{{ twitter_share_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="{{ facebook_share_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="{{ pinterest_share_url }}" target="_blank"><i class="fa fa-pinterest"></i></a>
                    {{/ with }}
                </span>
            </div>
        </footer>
    </article>
{{/ with }}
