<!-- The search list template, shown when the user searches the podcast for a specific string -->

<article class="single page">
  <header>
    <h1 class="article-title">
      <!-- Write the word "Search" -->
      {{ strings.search }}

      <!-- Show the search query the user typed -->
      <small>{{ query }}</small>
    </h1>
  </header>

  <section class="body">
    <ul class="media-list">
      <!-- Loop through the search results -->
      {{# each page_obj.object_list }}
        <li class="media">
          <!--
          If the search result has an image, show it here and link it
          to the relevant page
          -->
          {{# exists image }}
            <div class="media-left">
              <img class="media-object" width="150" src="{{ image }}" />
            </div>
          {{/ exists }}

          <div class="media-body">
            <h2 class="media-heading">
              <!--
              Show the title of the found result, highlighting in bold
              any words that match the user's search criteria
              -->
              <a href="{{ url }}">{{{ title_highlighted }}}</a>
            </h2>

            <!--
            Show the summary of the found result, highlighting in bold
            any words that match the user's search criteria
            -->
            {{{ description_highlighted }}}
          </div>
        </li>
      {{/ each }}

      <!-- Show this section if there are no search results -->
      {{# unless page_obj.count }}
        <p>{{ theme_options.string_no_resuots }}</p>

        <!-- Add a form so the user can try their search again -->
        <form class="form-inline">
          <div class="form-group">
            <label for="id_research">{{ theme_options.string_search_again }}</label>
            <input type="search" id="id_research" class="form-control" name="q" value="{{ query }}">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> {{ strings.search }}</button>
          </div>
        </form>
      {{/ unless }}
    </ul>
    &nbsp;
  </section>

  <!--
  If there are any more search results to view, add previous/next page links and a
  range of buttons linking to individual pages
  -->
  {{# if page_obj.has_next_or_previous }}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li{{# unless page_obj.has_previous }} class="disabled"{{/ unless }}>
          <a{{# if page_obj.has_previous }} href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}"{{/ if }} aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{# each paginator.page_range }}
          <li{{# if selected }} class="active"{{/ if }}>
            <a href="?q={{ query }}&amp;page={{ number }}">{{ number }}</a>
          </li>
        {{/ each }}
        <li{{# unless page_obj.has_next }} class="disabled"{{/ unless }}>
          <a{{# if page_obj.has_next }} href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}"{{/ if }} aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  {{/ if }}
</article>
