<!-- The blog template, shown when the user visits the blog -->

<!-- Show the relevant page title -->
{{# if is_network }}
  <h1>{{ network_strings.blog }}</h1>
{{ else }}
  <h1>{{ strings.blog }}</h1>
{{/ if }}

<!-- Loop through the posts in the blog -->
{{# each page_obj.object_list }}
  <div class="post-list-item">
    <hr />

    <!-- Only show this section on tablet and desktop devices -->
    <div class="row hidden-xs">
      <div class="col-sm-2">
        <span class="datetime">
          <small class="text-muted">
            {{ ../theme_options.string_posted }}<br />
          </small>
          {{ date published ../theme_options.date_format }}
        </span>
        <img src="{{ avatar }}" />
      </div>

      <div class="col-sm-10">
        <!-- If the blog post contains an image, show it here -->
        {{# exists image }}
          <a href="{{ share_url }}" title="{{ title }}" class="squashed unit">
            <img class="bg" src="{{ image }}" />

            <!-- Not all blog posts need a title. Only show this section if a title is set -->
            {{# exists title }}
              <div class="article">
                <div class="text">
                  <h2>{{ title }}</h2>

                  <!-- Show an excerpt of the post, if there is any text -->
                  {{# exists summary }}{{{ summary }}}{{/ exists }}
                </div>
              </div>
            {{/ exists }}
          </a>
        {{ else }}
          <!-- Not all blog posts need a title. Only show this section if a title is set -->
          {{# exists title }}
            <div class="article">
              <h2><a href="{{ share_url }}">{{ title }}</a></h2>
              <!-- Some blog posts have embeddable content, like polls or videos. Show that here -->
              {{# exists embed }}{{{ embed }}}{{/ exists }}

              <!-- Show an excerpt of the post, if there is any text -->
              {{# exists summary }}{{{ summary }}}{{/ exists }}
            </div>
          {{/ exists }}
        {{/ exists }}
      </div>
    </div>
    <!-- End the tablet and desktop section -->

    <!-- Only show this on smartphones -->
    <div class="media visible-xs">
      <!-- If the blog post contains an image, show it here -->
      {{# exists image }}
        <a class="pull-left" href="{{ share_url }}">
          <img class="media-object" src="{{ image }}" width="100" />
        </a>
      {{/ exists }}

      <div class="media-body">
        <h3 class="media-heading">
          <a href="{{ share_url }}">{{ title }}</a>
        </h3>

        <p>{{ summary }}</p>
      </div>
    </div>
    <!-- End the smartphone section -->
  </div>
{{/ each }}

<!--
If there are any more posts to view, add previous/next page links and a range
of buttons linking to individual pages
-->
{{# if page_obj.has_next_or_previous }}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li{{# unless page_obj.has_previous }} class="disabled"{{/ unless }}>
        <a{{# if page_obj.has_previous }} href="?page={{ page_obj.previous_page_number }}"{{/ if }} aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{# each paginator.page_range }}
        <li{{# if selected }} class="active"{{/ if }}>
          <a href="?page={{ number }}">{{ number }}</a>
        </li>
      {{/ each }}
      <li{{# unless page_obj.has_next }} class="disabled"{{/ unless }}>
        <a{{# if page_obj.has_next }} href="?page={{ page_obj.next_page_number }}"{{/ if }} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{{/ if }}
