<!-- The guest template, shown when a user visits a guest's page -->

{{# with object }}
    <!--
    "object" is the name of the main variable. It's a bit like using a loop,
    but it sets the context for the rest of the template so that you can refer
    to properties inside the object, without having to write "{{ object.title }}"
    for example
    -->

    <a class="unit" href="{{ share_url }}">
        <!-- Add the guest's image, linking to the guest page -->
        <img src="{{ image }}">
    </a>

    <!-- Link to the guest and show their name -->
    <h1><a href="{{ share_url }}">{{ title }}</a></h1>

    <!--
    Show the guest's biography. Use three braces to ensure content that
    contains HTML displays correctly
    -->
    <div class="lead">{{{ description }}}</div>

    <hr>

    <ul class="list-unstyled">
        <!-- Loop through any links to the guest's websites -->
        {{# each links }}
            <li>
                <a href="{{ link_url }}" target="_blank">{{ link_title }}</a>
            </li>
        {{/ each }}
    </ul>

    <hr>

    <!-- Write "Episodes John Smith appears in" -->
    <h2>Episodes {{ title }} appears in</h2>
    <div class="row">
        <!-- Loop through the episodes the guest appears in -->
        {{# each episodes }}
            <div class="col-sm-4">
                <a href="{{ episode_url }}">
                    <img src="{{ episode_image }}" class="media-object">
                </a>

                <h3>
                    <a href="{{ episode_url }}">{{ episode_title }}</a>
                </h3>

                {{{ episode_summary }}}
            </div>
        {{/ each }}
    </div>
{{/ with }}
