<!-- Generic page template, shown when a user visits a page like "About us"
or "Contact us". Also shown in certain other circumstances, as in when Podiant
needs to show aribrary content at a specific URL -->

{{# with object }}
    <!--
    "object" is the name of the main variable. It's a bit like using a loop,
    but it sets the context for the rest of the template so that you can refer
    to properties inside the object, without having to write "{{ object.title }}"
    for example
    -->

    <!-- If the page has a header image, show it here -->
    {{# exists image }}
        <div class="unit">
            <img src="{{ image }}" />
        </div>
    {{/ exists }}

    &nbsp;

    <article class="post">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs">
                <!-- Links to share content via Twitter, Facebook and Pinterest -->
                <ul class="share buttons">
                    <li class="twitter"><a href="{{ share_urls.twitter_share_url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a href="{{ share_urls.facebook_share_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="{{ share_urls.pinterest_share_url }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>

            <div class="col-md-11 col-xs-12">
                <div class="body">
                    <!--
                    Not all pages have a title (or the title is rendered as prt of the
                    main content). If a title is present, show it and link back to the page
                    -->
                    {{# exists title }}
                        <h1>
                            <a href="{{ share_url }}">{{ title }}</a>
                        </h1>
                    {{/ exists }}

                    <!-- Use three braces to ensure content that contains HTML displays correctly -->
                    {{{ description }}}
                </div>
            </div>
        </div>
    </article>
{{/ with }}
