<!-- The podcast list, shown when the user visits the Podcasts page -->

<!-- Write the word "Podcasts" -->
<h1>{{ network_strings.podcasts }}</h1>

<div class="media-list">
    <!-- Loop through the podcasts in the network -->
    {{# each object_list }}
        <div class="media">
            <div class="media-left">
                <a href="{{ share_url }}">
                    <!-- Show the podcast artwork, and link to the podcast -->
                    <img class="media-object" src="{{ image }}" width="150" style="max-width: none;" />
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    <!-- Show the podcast name and link to the podcast -->
                    <a href="{{ share_url }}">{{ title }}</a>
                </h2>

                <!-- Show the podcast subtitle -->
                <div class="lead">{{{ subtitle }}}</div>
                {{# exists hosts }}
                    <!-- Loop through the podcast hosts -->
                    <span>Hosted by</span>
                    {{# each hosts }}
                        <!-- Show a small host avatar -->
                        <img src="{{ host_image }}" width="30" title="{{ host_name }}" class="img-circle" />

                        <!-- Show the host's name -->
                        {{ host_name }}&nbsp;
                    {{/ each }}
                {{/ exists }}

                <ul class="list-unstyled">
                    <!-- List of subscription links (Apple Podcasts, Pocket Casts, Overcast, etc) -->
                    {{# each subscription_links }}
                        <li>
                            <a class="btn-subscribe" href="{{ link_url }}" target="_blank">
                                <img src="{{ link_icon }}" width="16" title="{{ link_title }}" />
                                {{ link_title }}
                            </a>
    	                </li>
                    {{/ each }}
                </ul>
            </div>
        </div>
    {{/ each }}
</div>
