<!-- The blog template, shown when the user visits the blog -->

<header class="masthead" style="background-color: {{ podcast_banner_colour }}; background-image: url('{{ podcast_banner_image }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ strings.blog }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{# each page_obj.object_list }}
        {{# if @index }}<hr />{{/ if }}
        <div class="post-preview">
          <a href="{{ share_url }}">
            <h2 class="post-title">{{# exists title }}{{ title }}{{ else }}(Untitled){{/ exists }}</h2>
            <h3 class="post-subtitle">
              {{# exists subtitle }}{{ subtitle }}{{ else }}{{ summary }}{{/ exists }}
            </h3>
          </a>
          {{# exists published }}
            <p class="post-meta">
              Published on {{ date published ../theme_options.date_format }}
            </p>
          {{/ exists }}
        </div>
      {{/ each }}

      <!--
      If there are any more blog posts to view, add previous/next page links and a
      range of buttons linking to individual pages
      -->
      <div class="clearfix">
        {{# if page_obj.has_previous }}
          <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}">&larr; {{ theme_options.string_blogpost_list_next }}</a>
        {{/ if }}

        {{# if page_obj.has_next }}
          <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">{{ theme_options.string_blogpost_list_prev }} &rarr;</a>
        {{/ if }}
      </div>
    </div>
  </div>
</div>
