<!-- The host list template, shown when the user visits the "Meet the hosts" page -->

<header class="masthead" style="background-color: {{ podcast_banner_colour }}; background-image: url('{{ podcast_banner_image }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ strings.hosts }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-unstyled">
                    {{# each object_list }}
                        <li id="host-{{ _id }}" class="media">
                            <img src="{{ image }}" class="mr-3" width="150" height="150">

                            <div class="media-body">
                                <h2 class="mt-0 mb-1">{{ title }}</h2>
                                {{{ description }}}

                                <small>
                                    {{# each links }}
                                        <a href="{{ link_url }}" class="text-muted" target="_blank">
                                            <i class="fa fa-{{ link_class }}"></i>
                                            {{ link_title }}
                                        </a>
                                    {{/ each }}
                                </small>
                            </div>
                        </li>
                    {{/ each }}
                </ul>
            </div>
        </div>
    </div>
</article>
