<!-- The search list template, shown when the user searches the podcast for a specific string -->

<header class="masthead" style="background-color: {{ podcast_banner_colour }}; background-image: url('{{ podcast_banner_image }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ podcast_name }}</h1>
                    <span class="subheading">{{ podcast_subtitle }}</span>

                    <ul class="list-inline text-center list-subscription-links">
                        {{# each subscription_links }}
                            <li class="list-inline-item">
                                <a href="{{ link_url }}" title="{{ link_title }}" target="_blank">
                                    <img src="{{ link_icon }}" />
                                </a>
                            </li>
                        {{/ each }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Loop through the search results -->
            {{# each page_obj.object_list }}
                <li class="media">
                    <!--
                    If the search result has an image, show it here and link it
                    to the relevant page
                    -->
                    {{# exists image }}
                        <div class="media-left">
                            <img class="media-object" width="150" src="{{ image }}">
                        </div>
                    {{/ exists }}

                    <div class="media-body">
                        <h2 class="media-heading">
                            <!--
                            Show the title of the found result, highlighting in bold
                            any words that match the user's search criteria
                            -->
                            <a href="{{ url }}">{{{ title_highlighted }}}</a>
                        </h2>

                        <!--
                        Show the summary of the found result, highlighting in bold
                        any words that match the user's search criteria
                        -->
                        {{{ description_highlighted }}}
                    </div>
                </li>
            {{/ each }}

            <!-- Show this section if there are no search results -->
            {{# unless page_obj.count }}
                <p>Sorry, there aren&rsquo;t any items matching your search.</p>

                <!-- Add a form so the user can try their search again -->
                <form class="form-inline">
                    <div class="form-group">
                        <label for="id_research">Search again</label>
                        <input type="search" id="id_research" class="form-control" name="q" value="{{ query }}">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    </div>
                </form>
            {{/ unless }}
        </div>
    </div>

    <!--
    If there are any more search results to view, add previous/next page links and
    a range of buttons linking to individual pages
    -->
    <div class="clearfix">
        {{# if page_obj.has_previous }}
            <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}">&larr; Newer Episodes</a>
        {{/ if }}

        {{# if page_obj.has_next }}
            <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">Older Episodes &rarr;</a>
        {{/ if }}
    </div>
</article>
