<!-- The search list template, shown when the user searches the podcast for a specific string -->

<!-- Add a top section with the title "Search" -->
<section class="site-blocks-cover overlay inner-page-cover"{{# if podcast_banner_image }} style="background-image: url('{{ podcast_banner_image }}');"{{/ if }} data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h2 class="text-white font-weight-light mb-2 display-4">{{ strings.search }}</h2>
      </div>
    </div>
  </div>
</section>

<main id="main" class="site-section bg-light">
  <div class="container">
    <!-- Loop through the list of search results -->
    {{# each page_obj.object_list }}
      <div class="d-block d-md-flex podcast-entry bg-white mb-5">
        <!-- If the result has an image, show it here -->
        {{# if image }}
          <div class="image" style="background-image: url('{{ image }}');"></div>
        {{/ if }}

        <div class="text">
          <h3 class="font-weight-light">
            <!-- Show the search result title and link to it -->
            <a href="{{ share_url }}#main">{{ title }}</a>
          </h3>

          <!-- Show an excerpt of the search result that matched the criteria -->
          <p class="mb-4">{{{ description_highlighted }}}</p>

          <!-- Add a "Read more" link -->
          <a href="{{ share_url }}#main" class="read-now">
            {{ ../strings.read_more }}
          </a>
        </div>
      </div>
    {{/ each }}

    <!--
    Show pagination links for moving back and forth in sets of 10
    results per page
    -->
    {{# if page_obj.has_next_or_previous }}
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                {{# each paginator.page_range }}
                  <li>
                    <a href="?q={{ ../query }}&page={{ number }}#main">{{ number }}</a>
                  </li>
                {{/ each }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{/ if }}
  </div>
</main>
